body { background-color: antiquewhite;text-align: center;}
h3 {color: maroon;font-size: x-large;;}
ul {color: rgb(0, 0, 0);font-size: large;}
h6 {font-weight: bold;}
.navegacion{ text-align: left;}
ol{font-size: 30px;}
.listaDeProductos{font-size: 25px; list-style: none;}
